#product_img_0{
	padding: 5px 0 5px 0;
	height: 130px;
	background-image: url(../images/iphone2G.jpg);
	background-size: 100% 100%;
}

#product_img_1{
	padding: 5px 0 5px 0;
	height: 150px;
	background-size: 100% 100%;
}

#product_img_2{
	padding: 5px 0 5px 0;
	height: 145px;
	background-image: url(../images/s2.jpg);
	background-size: 100% 100%;
}

#product_img_3{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/s3.jpg);
	background-size: 100% 100%;
}

#product_img_4{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/razr.jpg);
	background-size: 100% 100%;
}

#product_img_5{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/iphone5.jpg);
	background-size: 100% 100%;
}

#product_img_6{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/lumia920.jpg);
	background-size: 100% 100%;
}

#product_img_7{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/iphone4.jpg);
	background-size: 100% 100%;
}

#product_img_8{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/atrix.jpg);
	background-size: 100% 100%;
}

#product_img_9{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/iron.jpg);
	background-size: 100% 100%;
}

#product_img_10{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/xperiap.jpg);
	background-size: 100% 100%;
}

#product_img_11{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/htc_one.jpg);
	background-size: 100% 97%;
}

#product_img_12{
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/lumia820.jpg);
	background-size: 100% 100%;
}

#box_big_carrinho{
	width: 920px;
}

#futuro_painel_de_compras{
	width: 920px;
	height: 250px;
	border: 1px black solid;
}

#compras_text{
		margin-left: 30px;
		margin-top: 10px;
		font-family: Verdana;
		font-size: 26px;
}

.fundo_compras{
	width: 910px;
	margin: 0 auto;
	height: 450px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
	border-radius: 3px;
	padding-top: 20px;
	padding-bottom: 15px;
	overflow: auto;
}
#grid_menu_compras{
	height: 20px;
	width: 880px;
	background-color: darkgrey;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-top: 40px;
}

.sub_menu_compras{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 15px;
}

.sub_menu_compras2{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 30px;
	text-align: right;
}

.sub_menu_compras1{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 8px;
}

#grid_menu_compras1{
	width: 500px;
	height: 20px;
	float: left;
	background-color: darkgrey;
	margin-top: 30px;
	margin: 0 auto;
}

#grid_menu_compras2{
	width:  100px;
	height: 20px;
	float: left;
	background-color: darkgrey;
}

#grid_menu_compras3{
	width:  135px;
	height: 20px;
	float: left;
	background-color: darkgrey;
}

.grid_produto_compra_1{
	height: 100px;
	width: 880px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.grid_produto_compra_2{
	height: 100px;
	width: 880px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.grid_produto_compra_3{
	height: 100px;
	width: 880px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#sub_grid_produto_compra1{
	height: 50px;
	width: 380px;
	float: left;
	padding-top: 40px;
}

#sub_grid_produto_compra2{
	height: 100px;
	width: 100px;
	float: left;
}

#sub_grid_produto_compra3{
	height: 50px;
	width: 150px;
	float: left;
	padding-top: 40px;
	text-align: center;
}

.botao_excluir_1{
	margin-right: 2px;
	float: right;
}

.botao_excluir_2{
	margin-right: 2px;
	float: right;
}

.botao_excluir_3{
	margin-right: 2px;
	float: right;
}

.mini_img_compra{
	width: 90px;
	display: inline-block;
	height: 60px;
	margin-left: 5px;
	margin-top: 20px;
	background-image: url(../images/ufpr_logo.jpg);
	background-size: 100% 100%;
}

span.carrinho_prod_text{
	font-size: 18px;
	font-family: Verdana;
	margin-left: 20px;
}

span.carrinho_valor_text1{
	font-size: 18px;
	font-family: Verdana;
	color: #363636;
}

span.carrinho_valor_text2{
	font-size: 18px;
	font-family: Verdana;
	color: #DF0101;
}

#cred_dropdown{
	padding: 3px;
	margin-top: 37px;
	margin-left: 23px;
}

#balao_valor_total{
	width: 280px;
	padding-top: 23px;
	height: 50px;
	background-color: #B40404;
	border: 1px darkred solid;
	margin-right: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	margin-left: 620px;
}

#total_text{
	color: white;
	font-size: 24px;
	float: right;
	margin-right: 10px;
}

#botao_fin_compra{
	width: 190px;
	padding-top: 10px;
	height: 32px;
	background-color: #B40404;
	margin-left: 700px;
	border: 1px darkred solid;
	border-radius: 5px;
	cursor: pointer;
}

#finaliza_text{
	color: white;
	font-size: 18px;
	float: right;
	margin-right: 10px;
}