.barratop{
	width: 100%;
	min-width: 700px;
	height: 40px;
	background-color: #363636;
	z-index: 20000;
	left: 0px;
	top: 0px;
	opacity: 0.98;
}
#username{
	padding: 2px 6px;
	width: 200px;
	border-radius: 20px 0 0 20px;
}
#pesquisa_menu {
	position: absolute;
	right: 110px;
	top: 7px;
}

#submit_busca {
	width: 70px;
	height: 24px;
	display: block;
	float: right;
	border: 1px black solid;
	background-color: lightgrey;
	text-align: center;
	text-decoration: none;
	color: black;
	padding-left: 10px;
	padding-right: 13px;
	padding-bottom: 3px;
	font-size: 13px;
	border-radius: 0 20px 20px 0;
}

#submit_busca:hover {
	width: 70px;
	height: 24px;
	display: block;
	float: right;
	border: 1px black solid;
	background-color: #363636;
	text-decoration: none;
	color: white;
	padding-left: 10px;
	padding-right: 13px;
	padding-bottom: 3px;
	font-size: 13px;
	border-radius: 0 20px 20px 0;
}

nav ul {
	margin: 0;
	position: absolute;
	display: block;
	padding: 3px 6px 2px 0;
	list-style: none;
	float: right;
	opacity: 0.95;
	width: 48px;
	right: 22px;
	height: 36px;
	background: white;
}

nav li {
	float: left;
}

a {
	text-decoration: none;
}

nav #login-trigger {
	list-style: none;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	padding: 0 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	position: absolute;
	top: 12px;
	right: 2px;
	height: 48px;
}

nav #login-content {
	display: none;
	position: absolute;
	top: 24px;
	height: 200px;
	right: 0;
	z-index: 999;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	padding: 15px;
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	-moz-border-radius: 3px 0 3px 3px;
	-webkit-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;
}

nav li #login-content {
	width: 275px;
}

#login_block{
	width: 296px;
	height: 260px;
	margin-right: 3px;
	float: right;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	padding: 15px;
	
	-moz-border-radius: 3px 0 3px 3px;
	-webkit-border-radius: 3px 0 3px 3px;
	border-radius: 3px 0 3px 3px;	
}

#inputs {
	height: 100px;
	padding: 6px 5px;
	margin: 0 auto;
	margin-top: 20px;
	width: 255px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input {
	height: 25px;
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 6px 0 4px 0;
	width: 255px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}

input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

#actions {
	padding: 6px 5px;
	margin: 0 auto;
	margin-top: 20px;
	width: 255px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}
#check_log{
	margin-left: 20px;
	margin-top: 8px;
}
#text_check{
	font-size: 14px;
}
#submit {
	background-color: #d14545;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
	background-image: -webkit-linear-gradient(top, #e97171, #d14545);
	background-image: -moz-linear-gradient(top, #e97171, #d14545);
	background-image: -ms-linear-gradient(top, #e97171, #d14545);
	background-image: -o-linear-gradient(top, #e97171, #d14545);
	background-image: linear-gradient(top, #e97171, #d14545);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 80px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#submit:hover, #submit:focus {
	background-color: #e97171;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
	background-image: -webkit-linear-gradient(top, #d14545, #e97171);
	background-image: -moz-linear-gradient(top, #d14545, #e97171);
	background-image: -ms-linear-gradient(top, #d14545, #e97171);
	background-image: -o-linear-gradient(top, #d14545, #e97171);
	background-image: linear-gradient(top, #d14545, #e97171);
}

#submit:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit:-moz-focus-inner {
	border: none;
}
#texto_esqueceu_senha{
	font-size: 13px;
	margin-left: 60px;
	color: black;
}

#login label {
	float: right;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

#recuperar {
	height: 50px;
	padding: 6px 5px;
	margin: 0 auto;
	margin-top: 20px;
	width: 350px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}

#recuperar #username{
	height: 25px;
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 6px 0 4px 0;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}

body {
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px auto auto auto;
	color: #000;
}

p {
	padding: 2px;
	margin: 0px;
}
#main_container {
	width: 1140px;
	height: auto;
	margin: auto;
	padding: 2px 0 0 0;
	background-color: #FFFFFF;
}

#header {
	width: 1150px;
	height: 150px;
	background: url(../images/header_bg.jpg) no-repeat center;
	background-position: 0px 0px;
	margin: auto;
}

#logo {
	float: left;
	padding: 45px 0 0 15px;
}

#main_content {
	clear: both;
}

.languages {
	float: right;
	width: 150px;
	padding: 8px 0 0 0;
}

.lang_text {
	float: left;
	padding: 0 5px 0 0;
	color: #1DA1CF;
}

a.lang {
	display: block;
	float: left;
	padding: 0 5px 0 5px;
}

.top_right {
	width: 728px;
	float: right;
}

.big_banner {
	float: right;
	padding: 10px 10px 0 0;
}

/*---------------- menu tab----------------------*/
#menu_tab {
	width: 1000px;
	height: 50px;
	background: url(../images/menu_bg.gif) repeat-x;
}

ul.menu {
	list-style-type: none;
	float: left;
	display: float;
	width: 790px;
	margin: auto 140px;
	display: auto;
	padding: 0px;
}

ul.menu li {
	display: inline;
	font-size: 11px;
	font-weight: bold;
	line-height: 36px;
}

ul.menu li.divider {
	display: inline;
	width: 4px;
	height: 36px;
	float: left;
}

a.nav:link, a.nav:visited {
	display: block;
	float: left;
	padding: 0px 8px 0px 8px;
	margin: 0 14px 0 14px;
	height: 36px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

a.nav:hover {
	display: block;
	float: left;
	padding: 0px 8px 0px 8px;
	margin: 0 14px 0 14px;
	height: 36px;
	text-decoration: none;
	color: #199ECD;
}

.crumb_navigation {
	width: 980px;
	height: 15px;
	padding: 5px 10px 0 20px;
	color: #333333;
	background: url(../images/navbullet.png) no-repeat left;
	background-position: 5px 8px;
}

.crumb_navigation a {
	color: #0fa0dd;
	text-decoration: underline;
}

span.current {
	color: #0fa0dd;
}

.left_content {
	width: 190px;
	float: left;
	padding: 5px 0 0 5px;
}

.title_box {
	width: 190px;
	height: 40px;
	margin: 5px 0 0 0;
	background-color: #363636;
	text-align: center;
	font-size: 13px;
	padding: 5px 0 0 0;
	font-weight: bold;
	color: white ;
	line-height: 30px;
}

.carrinho {
	width: 245px;
	cursor: pointer;
	height: 32px;
	background-color: #363636;
	font-size: 16px;
	color: white;
	border-radius: 3px;
	float: right;
	margin-right: 10px;
	text-align: center;
}

#interior_carrinho {
	width: 240px;
	height: 250px;
	background-color: #363636;
	margin-left: 2px;
	z-index: 999;
	position: absolute;
}
#fundo_interior_carrrinho{
	width: 230px;
	height: 245px;
	background-color: #F2F2F2;
	margin-left: 5px;
	z-index: 999;
	position: absolute;
}
ul.left_menu {
	width: 180px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

ul.left_menu li {
	margin: 0px;
	list-style: none;
}

ul.left_menu li.odd a {
	width: 166px;
	height: 30px;
	display: block;
	text-decoration: none;
	color: #504b4b;
	padding: 6px 6px 6px 14px;
	line-height: 30px;
	font: bold 12px Arial, Helvetica;
}

ul.left_menu li.even a {
	width: 166px;
	height: 30px;
	display: block;
	background-color: #f0f4f5;
	text-decoration: none;
	color: #504b4b;
	padding: 6px 6px 6px 14px;
	line-height: 30px;
	font: bold 12px Arial, Helvetica;
}

ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
	text-decoration: none;
	background-color: #CD0000;
	color: white;
}

.border_box {
	width: 190px;
	height: auto;
	text-align: center;
	background: url(../images/box_bottom_bg.gif) no-repeat center bottom;
}

.product_title {
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
}

.product_title a {
	text-decoration: none;
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
}

.product_title a:hover {
	color: #064E5A;
}

.product_img {
	padding: 5px 0 5px 0;
	height: 150px;
	background-image: url(../images/galaxy_y.jpg);
	background-size: 100% 100%;
}

.prod_price {
	padding: 5px 0 5px 0;
}

span.reduce {
	color: #666666;
	text-decoration: line-through;
}

span.price {
	color: #ff8a00;
}

/*----------newsletter--------------*/
input.newsletter_input {
	width: 182px;
	height: 16px;
	border: 1px #ddd9d9 solid;
	margin: 10px 0px 0px 0px;
	font-size: 12px;
	padding: 3px;
	color: #999999;
}

/*--------------oferta------------------*/
.oferta {
	width: 585px;
	height: 156px;
	background: url(../images/slider_bg.gif) no-repeat center;
	float: left;
	padding: 0px;
	margin: 0 0 5px 5px;
}

.oferta_img {
	float: left;
	padding: 10px 0 0 10px;
}

.oferta_title {
	font-size: 15px;
	color: #159dcc;
	font-weight: bold;
}

.oferta_details {
	width: 340px;
	float: left;
	padding: 20px 0 0 30px;
}

.oferta_text {
	padding: 5px 0 5px 0;
	font-size: 12px;
	color: #159dcc;
	text-align: justify;
	line-height: 15px;
}

/*---------- Centro --------------------------*/
.center_content {
	width: 900px;
	float: left;
	padding: 5px 10px 5px 15px;
}

#center_content_info {
	width: 920px;
	float: left;
	padding: 5px 10px 5px 15px;
}

.center_title_bar {
	width: 880px;
	height: 40px;
	float: left;
	padding: 10px 0 0 10px;
	margin-left: 10px;
	margin-top: 10px;
	line-height: 31px;
	font-size: 12px;
	color: white;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	font-size: 18px;
}

/*----------------------right content--------------*/
.right_content {
	width: 240px;
	float: right;
	padding: 5px 0px 0px 0px;
}

.shopping_cart {
	width: 238px;
	height: auto;
	text-align: center;
}

.cart_title {
	font-size: 12px;
	font-size: 12px;
	color: #847676;
	font-weight: bold;
	padding: 0px;
}

.cart_details {
	width: 115px;
	float: left;
	padding: 5px 0 0 0;
	text-align: left;
	margin-left: 30px;
}

.cart_icon {
	float: left;
	padding: 5px 0 0 5px;
	text-align: center;
	margin-left: 20px;
}

span.border_cart {
	width: 100px;
	height: 1px;
	margin: 3px 0 3px 0;
	display: block;
	border-top: 1px #999999 dashed;
}

.prod_box {
	width: 180px;
	height: 240px;
	float: left;
	margin-left: 20px;
	padding: 10px 10px 10px 11px;
}

.center_prod_box {
	width: 173px;
	height: 200px;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.prod_details_tab {
	width: 173px;
	height: 26px;
	float: left;
	margin: 3px 0 0 0;
	padding: 5px 0 0 0;
}

img.left_bt {
	float: left;
	padding: 6px 0 0 6px;
}

.prod_details {
	width: 84px;
	height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 51%);
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	padding: 5px 0 0 0;
}

.prod_details:hover {
	width: 84px;
	height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
}

a.prod_compare {
	width: 75px;
	height: 24px;
	display: block;
	float: left;
	background: url(../images/link_bg.gif) no-repeat;
	margin: 2px 0 0 5px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: #159dcc;
}

a.prod_buy {
	width: 84px;
	height: 30px;
	display: block;
	float: left;
	background: -moz-linear-gradient(top, #eeeeee 0%, #c4c4c4 100%);
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: black;
	font-size: 13px;
	border-radius: 3px;
	padding: 5px 0 0 0;
}

a.prod_buy:hover {
	width: 84px;
	height: 30px;
	display: block;
	float: left;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	margin: 0 auto;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
}

/*---------prod_box_big----------*/
.prod_box_big {
	width: 650px;
	height: auto;
	float: left;
	padding: 10px 10px 15px 15px;
}

.center_prod_box_big {
	width: 940px;
	height: auto;
	float: left;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0px;
	/* border: 1px #F0F4F5 solid; */
}

.product_img_big {
	width: 170px;
	padding: 10px 0 0 10px;
	float: left;
}

.details_big_box {
	width: 345px;
	float: left;
	padding: 0 0 0 15px;
	text-align: left;
}

.product_title_big {
	color: #ff8a00;
	padding: 5px 0 5px 0;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 25px;
}

.specifications {
	font-size: 14px;
	font-weight: bold;
	width: 525px;
	margin-left: 180px;
	height: 460px;
	margin-top: 25px;
	/* border: 1px #F0F4F5 solid; */
}

.thumbs {
	padding: 4px;
	/* border: 1px #F0F4F5 solid; */
	margin: 15px 0 0 0;
	width: 340px;
	height: 355px;
	background-size: 100% 100%;
}

.thumbs a {
	padding: 3px;
}

.prod_price_big {
	padding: 5px 0 5px 0;
	font-size: 16px;
}

a.addtocart {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	background: url(../images/addtocart.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

a.compare {
	width: 76px;
	height: 27px;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	background: url(../images/compare.gif) no-repeat left;
	padding: 0 0 0 33px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

span.blue {
	color: #159DCC;
	font-size: 10px;
	margin-left: 30px;
}

span.blue_2 {
	color: #159DCC;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 10px;
}

span.black {
	color: #000000;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 10px;
}

/*---------------contact_form------------------*/
.contact_form {
	width: 500px;
	float: left;
	padding: 0px 0 0 75px;
}

.form_row {
	width: 500px;
	clear: both;
	padding: 10px 0 10px 0;
	color: #a53d17;
}

label.contact {
	width: 8px;
	float: left;
	font-size: 13px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	width: 500px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

#contact_textarea {
	width: 500px;
	height: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #fff;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

a.contact {
	width: 99px;
	height: 27px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(../images/contact_bt.gif) no-repeat left;
	padding: 0 0 0 10px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

/*----------cadastro_form-------------*/
.cadastro_form {
	width: 500px;
	float: left;
	padding: 0px 0 0 75px;
}

.form_row {
	width: 500px;
	clear: both;
	padding: 10px 0 10px 0;
	color: #a53d17;
}

label.cadastro {
	width: 135px;
	float: left;
	font-size: 13px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

label.cadastro_lista {
	width: 135px;
	font-size: 13px;
	text-align: right;
	padding: 4px 5px 0px 0px;
	color: #333333;
}

label.cadastro_short {
	width: 35px;
	float: left;
	font-size: 13px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

#cadast_sex {
	width: 60px;
	float: left;
	font-size: 13px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

label.cadastro_sex {
	width: 24px;
	font-size: 13px;
	text-align: right;
	margin-top: 6px;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.datepicker {
	width: 150px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

.cadastro_input {
	width: 320px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

.cadastro_input_medium {
	width: 235px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

.cadastro_input_short {
	width: 30px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

textarea.cadastro_textarea {
	width: 500px;
	height: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #fff;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
}

a.cadastro {
	width: 99px;
	height: 27px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(../images/contact_bt.gif) no-repeat left;
	padding: 0 0 0 10px;
	text-decoration: none;
	line-height: 27px;
	color: #1c4a52;
}

/*--------------footer----------------*/
.footer {
	width: 1140px;
	clear: both;
}

.left_footer {
	float: left;
	width: 300px;
	padding: 5px 0 0 10px;
}

.right_footer {
	float: right;
	padding: 15px 30px 0 0;
}

.right_footer a {
	padding: 0 0 0 7px;
	text-decoration: none;
	color: #666666;
}

.right_footer a:hover {
	text-decoration: underline;
}

.center_footer {
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	color: white;
}

p {
	line-height: 3.5em;
}

ul#menu, ul#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 3.2em;
}

ul#menu a {
	display: block;
	text-decoration: none;
}

ul#menu li {
	margin-top: 1px;
}

ul#menu li a {
	background: #333;
	color: #fff;
	padding: 0.5em;
}

ul#menu li a:hover {
	background: #000;
}

ul#menu li ul li a {
	background: #ccc;
	color: #000;
	padding-left: 20px;
}

ul#menu li ul li a:hover,ul#menu li ul .current a {
	background: #aaa;
	border-left: 5px darkred solid;
	padding-left: 15px;
}

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }

#baixo {
	clear: both;
	width: 100%;
	background: #363636;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
}

#enviar {
	min-width: 85px;
	min-height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 51%);
	margin: 10px auto;
	margin-right: 15px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	padding: 2px;
	padding-top: 3px;
}

#enviar:hover {
	min-width: 85px;
	min-height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	margin: 10px auto;
	margin-right: 15px; 
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	padding: 2px;
	padding-top: 3px;
}

#box_certificados {
	margin-left: 0;
	margin-right: 0;
	height: 100px;
}

#box_pagamento {
	margin-left: 0;
	margin-right: 0;
	height: 50px;
	margin-right: 30px;
}

#box_pagamento div {
	float: right;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

#barra_submenu {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 13px;
	background-color: darkred;
	height: 40px;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	color: white;
	border-radius: 3px;
}

#container {
	position: relative;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
}

#prev {
	position: absolute;
	top: 125px;
	left: 2px;
	z-index: 1000;
	opacity: 0.8;
}

#next {
	position: absolute;
	top: 125px;
	left: 728px;
	z-index: 1000;
	opacity: 0.9;
}

.slider {
	width: 770px;
	height: 290px;
	float: left;
}

.produto_imagens {
	width: 100px;
	height: 100px;
	float: left;
	background-color: black;
}

#presentation {
	width: 1100px;
	margin-left: 5px;
	float: left;
}

#infos {
	margin-bottom: 20px;
	width: 920px;
	height: 520px;
	opacity: 0.9;
	float: left;
	border-radius: 6px;
	border: 1px #F0F4F5 solid;
	background-color: #E8E8E8;
}

.info_table {
	border: 1px #F0F4F5 solid;
}

.barra_produto {
	width: 1100px;
	height: 40px;
	float: left;
	padding: 10px 0 0 0;
	margin: 5px 5px 5px 5px;
	line-height: 31px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	text-align: center;
	font-size: 14px;
}

.infos_celula1 {
	width: 158px;
	height: 10px;
	border: 1px #F0F4F5 solid;
	float: left;
	padding: 10px 0 15px 0;
}

.infos_celula2 {
	width: 758px;
	height: 10px;
	border: 1px #F0F4F5 solid;
	float: right;
	padding: 10px 0 15px 0;
}

.prod_detalhes1 {
	font-size: 13px;
	font-family: verdana;
	margin-left: 5px;
}

.prod_detalhes2 {
	font-size: 13px;
	font-family: verdana;
	color: #363636;
	margin-left: 5px;
}

/*---------------Administrador---------------*/
#fundo_admin {
	width: 1280px;
	height: 750px;
	margin: 0 auto;
	background-color: lightgrey;
	padding-bottom: 20px;
}
#fundo_admin_aux {
	width: 1280px;
	height: 1280px;
	margin: 0 auto;
	background-color: lightgrey;
	padding-bottom: 20px;
}
#grid_search {
	width: 1280px;
	height: 70px;
	background-color: #E6E6E6;
	border-bottom: 1px solid #ccc;
}

.menu_adm {
	width: 100%;
	min-width: 700px;
	height: 40px;
	background-color: #363636;
	left: 0px;
	top: 0px;
}

#barratop_adm {
	background-color: #B3B3B3;
}

#img_adm {
	display: inline-block;
	float: left;
	height: 100px;
	width: 100px;
	margin-left: 60px;
	margin-top: 20px;
}

#title_adm {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-top: 26px;
	padding-bottom: 26px;
	color: black;
	font-size: 40px;
	font-family: Verdana;
}

#select {
	color: black;
	background-color: #848484;
	border: 1px white solid;
	border-radius: 2px;
}

#grid_container {
	width: 1080px;
	height: 500px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.seach_text {
	font-size: 16px;
	font-family: verdana;
	margin-left: 250px;
}

.search_box_crud {
	width: 320px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	padding: 4px 6px;
	margin-top: 20px;
	margin-left: 5px;
}

.search_buttom_crud {
	width: 80px;
	height: 30px;
	padding: 4px 6px;
	font-family: verdana;
	margin-left: 1px;
	font-size: 13px;
}

li.grid_display_menu {
	display: inline-table;
	font-family: verdana;
	margin: 10px 40px 0 0;
	font-size: 14px;
}

#infos_ancor {
	padding-top: 2px;
	width: 200px;
	height: 15px;
	background: -moz-linear-gradient(top, #2c539e 0%, #2c539e 100%);
	margin-top: 13px;
	margin-left: 70px;
	border-radius: 20px;
	border: 2px darkblue solid;
}

#infos_ancor_text {
	color: white;
	font-size: 12px;
}

.mini_img {
	width: 90px;
	display: inline-block;
	height: 60px;
	margin-left: 10px;
	margin-top: 5px;
	background-image: url(../images/ufpr_logo.jpg);
	background-size: 100% 100%;
}

#mini_imagens_box {
	width: 340px;
	height: 70px;
	margin-top: 5px;
}

#barra_produto2 {
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	width: 920px;
	height: 35px;
	padding-top: 15px;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

#info_text {
	font-size: 16px;
	color: white;
	margin-left: 50px;
	font-family: verdana;
}

#parcela_text {
	font-family: verdana;
	color: red;
	font-size: 12px;
	margin-left: 30px;
}

#balao_frete {
	width: 465px;
	height: 110px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: lightgrey;
	border-radius: 10px;
	padding-top: 4px;
}

input.frete_search {
	margin-left: 25px;
	margin-top: 10px;
}

#frete_text {
	color: black;
	font-size: 13px;
	margin-left: 10px;
}

#carrinho_link {
	width: 130px;
	height: 28px;
	background: blue;
	color: white;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	border: 1px black solid;
	border-radius: 5px;
}

#carrinho_link:hover {
	width: 130px;
	height: 28px;
	background: black;
	color: white;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5px;
}

#add_carrinho {
	width: 170px;
	height: 23px;
	background: -moz-linear-gradient(top, #2c539e 0%, #2c539e 100%);
	color: white;
	text-align: center;
	padding-top: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 72px;
	cursor: pointer;
	border: 1px darkblue solid;
	border-radius: 25px;
}

#fin_compra {
	width: 170px;
	height: 23px;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 51%);
	color: white;
	text-align: center;
	padding-top: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 35px;
	cursor: pointer;
	border: 1px darkred solid;
	border-radius: 25px;
}

#barra_submenu_carrinho {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 13px;
	padding-top: 10px;
	padding-bottom: 8px;
	background: -moz-linear-gradient(top, #cc1c1c 0%, #bc0000 100%);
	height: 40px;
	color: white;
	border-radius: 3px;
}

#carrinho_menu_text {
	margin-bottom: 20px;
	font-size: 18px;
	float: left;
	font-family: verdana;
	margin-left: 60px;
}

#barra_submenu_carrinho div {
	display: inline-block;
	float: left;
}

#carrinho_img {
	margin-top: -2px;
	margin-left: 10px;
	background-image: url(../images/shoppingcart.png);
	height: 36px;
	width: 36px;
}

/*----------Pagamento----------*/

#status_compra {
	float: left;
	width: 1140;
	margin: 10px 0px 30px 10px;
}

#status_compra div {
	float: left;
	display: inline-block;
	width: 150px;
	height: 40px;
	text-align: center;
}

.status_compra_atrib {
	padding-top: 20px;
	font-size: 15px;
	color: white;
	border-radius: 15px;
}

.status_compra_atrib#atual {
	background-color: #159DCC;
}

.status_compra_atrib#ok_0 {
	background-color: green;
}

.status_compra_atrib#ok_1 {
	background-color: green;
}

.status_compra_atrib#n_ok_0 {
	background-color: #7E1515;
}

.status_compra_atrib#n_ok_1 {
	background-color: #7E1515;
}

.status_compra_atrib#n_ok_2 {
	background-color: #7E1515;
}

.status_flecha {
	padding-top: 10px;
	float: left;
	margin-top: 25px;
}

#struct_grid {
	float: left;
	margin-bottom: 10px;
	border: 1px black solid;
	border-radius: 5px;
	font-size: 16px;
	font-family: verdana;
	padding: 15px 15px 0px 15px;
}

#grid_produtos {
	margin-left: 13px;
	margin-bottom: 20px;
	width: 90%;
	opacity: 0.9;
	float: left;
	border-radius: 6px;
	border: 1px #F0F4F5 solid;
	background-color: #E8E8E8;
}

.center_pagamento {
	height: 270px;
	border-radius: 5px;
	border: 1px black solid;
	font-family: Verdana;
	color: black;
	margin-bottom: 10px;
	float: left;
}

.pagamento_title {
	padding: 10px 10px 0px 10px;
	font-size: 20px;
	border-radius: 5px;
}

#opc_pagamento {
	margin-left: 10px;
	height: 200px;
	padding: 10px;
	width: 79%;
	float: left;
	color: black;
	font-size: 16px;
}

.opcoes_pag {
	display: inline-block;
	height: 60px;
	width: 220px;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.opcoes_pag div {
	display: inline-block;
	float: left;
}

.form_pag {
	text-align: right;
	padding-top: 10px;
	width: 40%;
}

.radio_but_pag {
	padding: 10px 0px 0px 5px;
}

#pagar {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	padding: 10px;
}

#total_pagamento {
	margin-top: 30px;
	margin-right: 10px;
	float: right;
	padding: 10px;
	border: 1px black solid;
	border-radius: 5px;
	background-color: #CD0000;
	color: white;
	font-size: 13px;
	text-align: center;
}

#total_pagamento div {
	display: inline-block;
	float: left;
}
/*----------Pagamento-fim----------*/

#redirecionando_background{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
}
#logado{
	font-family: "Calibri";
	font-size: 18px;
	text-align: center;
	width: 290px;
	height: 230px;
}
#log_usuario {
	font-family: Verdana;
}
#qtd_carrinho {
	width: 30px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	padding: 4px 6px;
	margin-top: 33px;
	margin-left: 20px;
}
#excuir {
	width: 40px;
	height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 51%);
	margin-right: 50px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	padding: 5px 0 0 0;
	margin-top: 30px; 
}

#excuir:hover {
	width: 40px;
	height: 30px;
	display: block;
	float: right;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	margin-right: 50px;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
	color: white;
	font-size: 13px;
	border-radius: 3px;
	margin-top: 30px;
}
#img_big {
	padding: 4px;
	/* border: 1px #F0F4F5 solid; */
	margin: 15px 0 0 0;
	width: 340px;
	height: 355px;
	background-size: 100% 100%;
}
