.pagamento_img_0{
	margin-left: 5px;
	background-image: url(../images/VISA.png);
	height: 42px;
	width: 68px;
}
.pagamento_img_1{
	margin-left: 5px;
	background-image: url(../images/master_card.png);
	height: 42px;
	width: 68px;
}
.pagamento_img_2{
	margin-left: 5px;
	background-image: url(../images/Diners_club.png);
	height: 42px;
	width: 68px;
}
.pagamento_img_3{
	margin-left: 5px;
	background-image: url(../images/hipercard.png);
	height: 42px;
	width: 68px;
}
.pagamento_img_4{
	margin-left: 5px;
	background-image: url(../images/ITAU.png);
	height: 42px;
	width: 46px;
}
.pagamento_img_5{
	margin-left: 5px;
	background-image: url(../images/BB.png);
	height: 42px;
	width: 46px;
}
.pagamento_img_6{
	margin-left: 5px;
	background-image: url(../images/bREAL.png);
	height: 42px;
	width: 46px;
}
.pagamento_img_7{
	margin-left: 5px;
	background-image: url(../images/BRADESCO.png);
	height: 42px;
	width: 46px;
}
#logo_pagamento_img_1{
	background-image: url(../images/master_card.png);
	height: 42px;
	width: 68px;
	float: right;
	margin-right: 20px;
	margin-top: -10px;
}
#logo_pagamento_img_2{
	background-image: url(../images/VISA.png);
	height: 42px;
	width: 68px;
	float: right;
	margin-right: 20px;
	margin-top: -10px;
}
#logo_pagamento_img_3{
	background-image: url(../images/hipercard.png);
	height: 42px;
	width: 68px;
	float: right;
	margin-right: 20px;
	margin-top: -10px;
}
#logo_pagamento_img_4{
	background-image: url(../images/Diners_club.png);
	height: 42px;
	width: 68px;
	float: right;
	margin-right: 20px;
	margin-top: -10px;
}
#logo_pagamento_img_5{
	background-image: url(../images/BB.png);
	height: 42px;
	width: 46px;
	float: right;
	margin-right: 45px;
	margin-top: -10px;
}
#logo_pagamento_img_6{
	background-image: url(../images/BRADESCO.png);
	height: 42px;
	width: 46px;
	float: right;
	margin-right: 45px;
	margin-top: -10px;
}
#logo_pagamento_img_7{
	background-image: url(../images/ITAU.png);
	height: 42px;
	width: 46px;
	float: right;
	margin-right: 45px;
	margin-top: -10px;
}
#logo_pagamento_img_8{
	background-image: url(../images/bREAL.png);
	height: 42px;
	width: 46px;
	float: right;
	margin-right: 45px;
	margin-top: -10px;
}
#logo_pagamento_img_9{
	background-image: url(../images/boleto.png);
	height: 42px;
	width: 68px;
	float: right;
	margin-right: 25px;
	margin-top: -10px;
	background-size: 100% 100%;
}
#certificados_1 {
	width: 110px;
	display: inline-block;
	height: 80px;
	margin-left: 20px;
	margin-top: 10px;
	background-image: url(../images/Linux.jpg);
	background-size: 100% 100%;
}
#certificados_2 {
	width: 100px;
	display: inline-block;
	height: 80px;
	margin-left: 20px;
	margin-top: 10px;
	background-image: url(../images/ecommerce.png);
	background-size: 100% 100%;
}
#certificados_3 {
	width: 100px;
	display: inline-block;
	height: 80px;
	margin-left: 20px;
	margin-top: 10px;
	background-image: url(../images/security.jpg);
	background-size: 100% 100%;
}