#box_big_carrinho_car{
	width: 1140px;
	float: left;
}

#compras_text_car{
		margin-left: 30px;
		margin-top: 10px;
		font-family: Verdana;
		font-size: 26px;
}

#fundo_compras_car{
	width: 1100px;
	height: 420px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 15px;
	overflow: auto;
	margin-left: 10px;
}

#grid_menu_compras_car{
	height: 20px;
	width: 1100px;
	background-color: darkgrey;
	margin-top: 30px;
	padding-top: 5px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.sub_menu_compras_car{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
}

.sub_menu_compras2_car{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
}

.sub_menu_compras1_car{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
}

#grid_menu_compras1_car{
	width: 500px;
	height: 20px;
	float: left;
	margin-left: 20px;
}

#grid_menu_compras2_car{
	width:  120px;
	height: 20px;
	float: left;
	margin-left: 15px;
}

#grid_menu_compras3_car{
	width:  165px;
	height: 20px;
	float: left;
}

.grid_produto_compra_1_car{
	height: 100px;
	width: 1080px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.grid_produto_compra_2_car{
	height: 100px;
	width: 1122px;
	margin: 0 auto;
	margin-bottom: 5px;
}

.grid_produto_compra_3_car{
	height: 100px;
	width: 1122px;
	margin: 0 auto;
	margin-bottom: 5px;
}

#sub_grid_produto_compra1_car{
	height: 50px;
	width: 425px;
	float: left;
	padding-top: 40px;
}

#sub_grid_produto_compra2_car{
	height: 100px;
	width: 100px;
	float: left;
}

#sub_grid_produto_compra3_car{
	display: inline-block;
	height: 50px;
	width: 150px;
	float: left;
	padding-top: 40px;
	text-align: center;
}

.botao_excluir_1_car{
	margin-right: 2px;
	float: left;
	width: 40px;
	height: 65px;
	padding-top: 35px;
}

.botao_excluir_2_car{
	margin-right: 2px;
	float: left;
	width: 75px;
	height: 65px;
	padding-top: 35px;
	padding-left: 45px;	
}

.botao_excluir_3_car{
	margin-right: 2px;
	float: left;
	width: 75px;
	height: 65px;
	padding-top: 35px;
	padding-left: 45px;
}

.mini_img_compra_car{
	width: 78px;
	display: inline-block;
	height: 90px;
	margin-left: 5px;
	margin-top: 5px;
	background-size: 100% 100%;
}

span.carrinho_prod_text_car{
	font-size: 18px;
	font-family: Verdana;
	margin-left: 20px;
}

span.carrinho_valor_text1_car{
	font-size: 18px;
	font-family: Verdana;
	color: #363636;
}

span.carrinho_valor_text2_car{
	font-size: 18px;
	font-family: Verdana;
	color: #DF0101;
}

#cred_dropdown_car{
	padding: 3px;
	margin-top: 37px;
	margin-left: 23px;
}

#balao_valor_total_car{
	width: 280px;
	padding-top: 13px;
	height: 40px;
	background: -moz-radial-gradient(center, ellipse cover, #ff1702 0%, #ce0000 100%);
	border: 1px darkred solid;
	margin-left: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	float: left;
	text-align: center;
}

#total_text_car{
	color: white;
	font-size: 24px;
}

#botao_fin_compra_car{
	width: 190px;
	padding-top: 10px;
	height: 32px;
	background-color: #B40404;
	float: right;
	border: 1px darkred solid;
	border-radius: 5px;
	margin-top: 4px;
}

#finaliza_text_car{
	color: white;
	font-size: 18px;
	text-align: center;
	float: right;
	margin-right: 10px;
}

button.eliminar{
	margin-left: 73px;
	margin-top: 40px;
}
#grid_fin_compra{
	width: 1100px;
	height: 270px;
	margin-left: 5px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
	border-radius: 3px;
	padding-top: 2px;
	padding-bottom: 15px;
	overflow: auto;
	float: left;
}
#grid_fin_compra_cabecalho{
	float: left;
	margin-top: 20px;
	width: 1100px;
	height: 30px;
	background-color: grey;
	margin-left: 5px;
}
#submenu_cabecalho_pedido{
	width: 520px;
	height: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}
#submenu_cabecalho_qtd{
	width: 150px;
	height: 20px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}
.submenu_grid_compra{
	font-family: Verdana;
	font-size: 16px;
	margin-top: 2px;
}
.grid_compra_qtd{
	font-family: Verdana;
	font-size: 16px;
	margin-top: 2px;
	margin-left: 35px;
}

#status_container{
	width: 120px;
	height: 170px;
	float: left;
	margin-top: 10px;
	margin-right: 60px;
	margin-left: 60px
}
#status_ok{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../images/Ok-icon.png);
	background-size: 100% 100%;
}
#status_i{
	width: 80px;
	margin: 0 auto;
	height: 80px;
	background-image: url(../images/Button-Info-icon.png);
	background-size: 100% 100%;
}
#status_x{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background-image: url(../images/Close-2-icon.png);
	background-size: 100% 100%;
}
.text_info{
	margin-top: 3px;
	margin: 0 auto;
	text-align: center;
}
