#prod_promo{
	margin: 0 auto;
	margin-left: 60px;
	padding: 5px;
}
#prod_visi{
	margin: 0 auto;
	margin-left: 33px;
	padding: 5px;
}
#prod_qtd{
	margin-left: 32px;
	margin-top: -4px;
}
#grid_menu_users{
	height: 20px;
	width: 880px;
	margin-top: 30px;
	padding-top: 5px;
	margin: 0 auto;
	margin-bottom: 2px;
}
#grid_menu_users1{
	width: 500px;
	height: 20px;
	float: left;
	margin-top: 30px;
	margin: 0 auto;
}
#grid_menu_users_1{
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 30px;
	width: 470px;
	height: 20px;
	float: left;
	margin-top: 30px;
	margin: 0 auto;
}
#grid_menu_users2{
	width:  100px;
	height: 20px;
	float: left;
}
#grid_menu_users_2{
	width:  160px;
	height: 20px;
	float: left;
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 30px;
}
#grid_menu_users_3{
	width:  160px;
	text-align: right;
	height: 20px;
	float: left;
	font-family: Verdana;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 30px;
}
#grid_menu_users3{
	width:  135px;
	height: 20px;
	float: left;
	text-align: right;
}
.sub_menu_cliente_rs{
	font-family: Verdana;
	font-size: 14px;
	float: right;
	margin-right: 20px;
}
.sub_menu_cliente{
	font-family: Verdana;
	font-size: 14px;
	float: right;
	margin-right: 50px;
}
#fundo_admin2{
	width: 640px;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}
#fundo_admin2_aux{
	width: 640px;
	margin: 0 auto;
	height: 1000px;
	margin-top: 20px;
	padding-bottom: 20px;
}
.barra_add_remove_admin{
	width: 620px;
	height: 40px;
	float: left;
	padding: 10px 0 0 10px;
	margin: 0 0 0 5px;
	line-height: 31px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	background-color: darkred;
	text-align: center;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.search_box_prod{
	width: 250px;
	height: 20px;
	border-radius: 3px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	padding: 4px 6px;
	margin-top: 20px;
	margin-left: 5px;
	position: static;
}
.search_buttom_prod{
	width: 80px;
	height: 30px;
	padding: 4px 6px;
	font-family: verdana;
	font-size: 13px;
}
.seach_text_prod{
	font-size: 16px;
	font-family: verdana;
	margin-left: 70px;
}
#search_buttom_prod_remove{
	width: 80px;
	height: 30px;
	padding: 4px 6px;
	font-family: verdana;
	font-size: 13px;
}
button.search_buttom_save{
	width: 80px;
	height: 30px;
	padding: 4px 6px;
	font-family: verdana;
	margin-left: 350px;
	font-size: 13px;
	margin-top: 15px;
}
#exclude_buttom{
	background-color: red;
}
#deletar{
	float: right;
	margin-left: 5px;
}
#botao_excluir{
	float: right;
}
