.fundo_admin_relat{
	width: 1280px;
	margin: 0 auto;
	background-color: lightgrey;
	padding-bottom: 20px;
}

.base_relatorio {
	display: inline-block;
	width: 98%;
	height: 200px;
	background-color: #E6E6E6;
	margin: 10px;
	border: 1px black solid;
	border-radius: 5px;
	float: left;
}

.menu_relat {
	width: 100%;
	height: 28px;
	padding: 5px;
	font-size: 15px;
}

.item_relat {
	display: inline block;
	float: left;
	width: 50%;
}

#grid_search_relat {
	padding: 10px;
	width: 1260px;
	height: 70px;
	background-color: #E6E6E6;
	border-bottom: 1px solid #ccc;
}

.search_data {
	display: inline-block;
	text-align: center;
	float: left;
	padding: 4px;
	font-family: verdana;
	font-size: 18px;
}

.search_data_r {
	display: inline-block;
	text-align: center;
	float: right ;
	padding: 4px;
	font-family: verdana;
	font-size: 18px;
}

.seach_text {
	float: right;
	font-size: 18px;
	font-family: verdana;
}

#pesquisar {
	font-size: 16px;
}
